<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container flex flex-row justify-between">
      <a class="navbar-brand" [routerLink]="['/']">elastic_search_app</a>
      <div class="flex flex-row">
        <div class="">
          <a class="nav-link text-black" [routerLink]="['/']">Home</a>
        </div>
        <div class="ml-3">
          <a class="nav-link text-black" [routerLink]="['/search']">Search</a>
        </div>
      </div>
    </div>
  </nav>
</header>
